/* CSS Document */
*,
*::after,
*::before,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*****************************************/
/*  Algemeen stijlen voor de hele pagina */
/*****************************************/
:root {
  --button-color: #2a1c60;
  --background-color: #fefefe;
  --header-background-color: rgb(248, 213, 125);
  --header-link-color: rgb(253, 210, 154);
  --main-orange-color: #FF500A;
  --main-orange-pastel-color: #ff946a;
  --black-color: #000000;
  --line-gray-color: rgb(190, 190, 190);
  --white-color: white;
  --section-color: #f2fdfd;
}




body {
  margin: 0;
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:focus {
  outline-color: var(--button-color);
  outline-width: medium;
  outline-style: solid;
}





/********************/
/* ALGEMENE STIJLEN */
/********************/

/************/
/* HEADER */
/***********/

header {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 4;
  display: flex;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  flex-direction: column;
  background-color: var(--background-color);
}

header nav {
  background-color: rgb(255, 244, 218);
}

header ul {
  gap: 1.25em;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  /* justify-content:space-evenly; */
}

header a {
  display: block;
  width: 100%;
  padding: .5em;
  color: black;
  min-width: 1em;
  font-size: 1em;
  cursor: pointer;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
  transition: 0.2s ease-in-out;
}

header nav a {
  padding: 1.5em;
}

header nav a:hover {
  background-color: var(--header-link-color);
}


header nav a:active,
header nav a:focus {
  border-bottom: 0.2em solid var(--main-orange-color);
}

header .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Wattpad  */
header .logo-container a {
  transition: 0.5s;
  font-size: 1.25em;
  color: var(--main-orange-color);
}

/* Wattpad logo */
header .logo-container img {
  top: 0;
  right: 7em;
  width: 3em;
  max-width: 4.7em;
  min-width: 3.1em;
  transition: 0.5s;
  position: absolute;
}




/* ***************************** */
/* Figure is de gebruikers foto */
/* **************************** */
figure {
  position: relative;
}

/* gebruikersfoto */
figure:nth-of-type(1) img {
  z-index: 3;
  width: 3.4em;
  right: 1.25em;
  margin: 1em 0.5em;
  position: absolute;
  border-radius: 3em;
  transform: translateX(.5em);
  box-shadow: 0.12em 0.18em 0.37em rgba(0, 0, 0, 0.329);
}

/*************/
/* ANIMATIES */
/*************/

/* animatie van de gebruikersfoto */
@keyframes gebruikersfoto-animation {
  0% {
    width: 3.4em;
    transform: translateX(.5em);
  }

  100% {
    transform: translateX(-19em);
  }
}

/* Als je klikt of hover wordt de animatie geactiveerd */
figure:nth-of-type(1) img:hover,
figure:nth-of-type(1) img:active {
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: gebruikersfoto-animation;
  /* Laat de element op de dat positie staan */
  /* https: //stackoverflow.com/questions/13981730/how-can-i-let-my-css3-animation-to-stay-at-its-animated-position-when-it-finishe */
}

/* Animatie voor gebruikersnaam */
figcaption {
  top: 1em;
  opacity: 0;
  right: 1.25em;
  position: absolute;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: gebruikersnaam-animation;
}

@keyframes gebruikersnaam-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    font-size: 1.3em;
    color: var(--button-color);
    transform: translateX(-5em);
  }
}



/********/
/* main */
/********/

/*************/
/* PAGINA 1 */
/************/

/* ****************************************************** */
/* Hier begin het stijlen voor de content binnen de main HTML */
/* Onderaan staan de stijlen voor de eerste pagina  */
/* ****************************************** */
.main-first-page {
  margin: 3em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.main-first-page section:last-of-type {
  margin: 2em 0;
}

.main-first-page ul,
.main-first-page li {
  display: flex;
  flex-wrap: wrap;
}

/* Code voor alle afbeelding voor pagina 1 */
.main-first-page section img {
  width: 100%;
  max-width: 19em;
  min-width: 12.5em;
}


/* *************************************** */
/* Specifieke stijlen voor de eerste pagina */
/* *************************************** */

/* Dit is de vormgeving voor de bibliotheek titel op de eerste pagina  */
.main-first-page h1:first-of-type {
  width: 100%;
  transition: 1s;
  line-height: 2em;
  min-width: 200px;
  text-align: center;


  /* https: //www.cssportal.com/css-text-gradient-generator/ */
  /* De codent van de gradient */
  background: #FF500A;
  background: -webkit-linear-gradient(to top left, #FF500A 1%, #FFC773 50%, #FFDAB0 65%);
  background: -moz-linear-gradient(to top left, #FF500A 1%, #FFC773 50%, #FFDAB0 65%);
  background: linear-gradient(to top left, #FF500A 1%, #FFC773 50%, #FFDAB0 65%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 2em;
  letter-spacing: 0.3em;
  text-transform: uppercase;

}




/*************/
/*SECTION 1  */
/*************/

/* **************************************************************** */
/* Dit is voor Section 1 van Pagina 1 */
/* Die bestaat uit de huidige reads en de archiveren en leeslijst */
/* **************************************************************** */
.main-first-page section:nth-of-type(1) nav {
  margin: 2em 0;
}

.main-first-page section:nth-of-type(1) ul {
  gap: .1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-top: 1px solid var(--line-gray-color);
  border-bottom: 1px solid var(--line-gray-color);
}

.main-first-page section:nth-of-type(1) li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* De links */
.main-first-page section:nth-of-type(1) a {
  z-index: 0;
  width: 100%;
  font-size: 1em;
  min-width: 0.8em;
  font-weight: 600;
  transition: 0.5s;
  padding: 1em 0.2em;
  line-height: 1.5em;
  color: var(--black-color);
}

/* states van de links */
.main-first-page section:nth-of-type(1) a:active,
.main-first-page section:nth-of-type(1) a:focus,
.main-first-page section:nth-of-type(1) a:hover {
  font-size: 1.3em;
  border-bottom: 0.3em solid var(--main-orange-color);
}


/*************/
/* SECTION 2 */
/*************/

/******************************************************************/
/*  Bestaat uit de boeken die opgeslagen zijn in mijn bibliotheek */
/******************************************************************/
.main-first-page section:nth-of-type(2) ul {
  gap: 5em;
}

.main-first-page section:nth-of-type(2) a {
  position: relative;
  transition: 0.5s;
}

/* Het boekenkaft  */
.main-first-page section:nth-of-type(2) img {
  box-shadow: 0.2em 0.3em 0.9em rgb(119, 119, 119);
}

/* Het titel van het boek */
.main-first-page section:nth-of-type(2) h2 {
  top: 0;
  z-index: 0;
  padding: 0.5em;
  position: absolute;
  color: var(--white-color);
  background-image: linear-gradient(to bottom, #ff4f0ab7, #ff4f0a33);
}

/* Naam van auteur op het boekenkaft*/
.main-first-page section:nth-of-type(2) p {
  right: 0;
  bottom: 0.1em;
  padding: 1em;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  position: absolute;
  text-align: center;
  background-color: var(--button-color);
  border-radius: 3em 0 0 3em;

}

/* De auteurs profiel foto */
.main-first-page section:nth-of-type(2) img:last-of-type {

  position: absolute;
  top: -1em;
  right: -1em;
  min-width: 2em;
  max-width: 6em;
  border-radius: 20em;
  box-shadow: 0 0.3em 0.6em black;
  border: 0.1em solid var(--main-orange-color);
}

/* progressbar onder het boek  */
.oranje-balk,
.licht-grijs-balk {
  height: 1em;
  border-radius: 4em;
}

.licht-grijs-balk {
  margin: 1.2em 0 0 0;
  width: 100%;
  background-color: rgb(230, 230, 230);
  box-shadow: 0.2em 0.4em 0.9em -0.1em rgba(185, 185, 185, 0.83);
}

.oranje-balk {
  width: 60%;
  background-color: var(--main-orange-color);
}




/*****************/
/* HET SIDE MENU */
/*****************/

/*******************************************************/
/* Code voor de side menu in de bibliotheek pagina   */
/*  Side menu is een menu die zichtbaar wordt als je op de boeken klikt */
/*******************************************************/

@keyframes side-menu-animation {
  0% {
    transform: translateX(-9em)
  }

  100% {
    padding-left: 4em;
    box-shadow: 13px 7px 27px -2px rgba(0, 0, 0, 0.24);
  }
}

.side-menu {
  top: 25em;
  bottom: -10em;
  left: 0;
  z-index: 1;
  padding: 1em;
  transition: 1s;
  position: absolute;
  padding-left: 4em;
  transform: translateX(-12em);
  background-color: var(--white-color);
  box-shadow: 13px 7px 27px -2px rgba(0, 0, 0, 0.24);
}

.side-menu.menu-zichtbaar {
  transform: translateX(0);
  animation-name: side-menu-animation;
  animation-duration: 2s;
  animation-direction: alternate;
}

.side-menu-content {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

/* De links binnen de side menu */
.side-menu-content a {
  padding: .5em;
  color: black;
  font-weight: bold;
  transition: 0.2s;
}

.side-menu-content a:hover,
.side-menu-content a:active,
.side-menu-content a:focus {
  background-color: #e0e0e0;
  color: #5c4c9b;
  border-radius: 4em;
  font-size: 1.2em;
}

.side-menu-content a:last-of-type {
  margin-top: 1.5em;
  padding: .8em;
  text-align: center;
  border-radius: 12em;
  color: var(--background-color);
  background-color: var(--button-color);
}





/*****************/
/* HET FORMULIER */
/*****************/

form {
  margin-top: 5em;
  padding: 1.5em;
  border-radius: 4em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

legend {
  font-size: 1.5em;
  font-weight: bold;
  padding: .5em .5em .5em 0;
  text-align: center;
}

fieldset {
  padding: 1em;
  border: none;
  display: flex;
  flex-direction: column;
}

input[type="text"]:active,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="email"]:active,
input[type="email"]:hover,
input[type="email"]:focus,
textarea:hover,
textarea:active,
textarea:focus,
select:hover,
select:active select:focus {
  background-color: var(--section-color);
  border: 0.3em solid var(--button-color);
  transition: 0.5s;
}

fieldset label {
  margin: 1em;
  padding-right: 1em;
  font-weight: bold;
}

label[placeholder="Voer jouw email in"] {
  padding: 0.5em;
}

input,
select {
  width: 100%;
  padding: 1em;
  border-radius: 4em;
  border: 1px solid var(--line-gray-color);
}

input,
textarea {
  color: var(--main-orange-color);
}

textarea {
  width: 100%;
  padding: 1em;
  border-radius: 2em;
  font-family: 'Barlow', sans-serif;
  border: 1px solid var(--line-gray-color);
}

/* De verzenden button */
form button {
  background-color: var(--button-color);
  color: var(--white-color);
  border: none;
  border-radius: 4em;
  padding: 1em;
  align-self: flex-end;
  font-weight: bold;
}

form button:hover,
form button:active {
  background-color: var(--main-orange-pastel-color);
  color: var(--button-color);
  transition: 0.5s;
}








/************************************************/
/*  Een beetje responsive maken - voor pagina 1 */
/************************************************/
@media (min-width: 40em) {
  .main-first-page section:nth-of-type(2) ul {
    display: flex;
    margin-top: 4em;
    justify-content: center;

    transition: 0.5s;
  }

  .main-first-page h1:first-of-type {
    font-size: 2.5em;
  }
}

@media (min-width:50em) {

  /* wattpad logo */
  header .logo-container a {
    display: flex;
    font-size: 2em;
    margin: 0 auto;
    font-weight: bold;
    align-self: flex-start;
    transition: 0.5s;
  }

  header .logo-container img {
    position: absolute;
    top: 1em;
    left: 11em;
    width: 3.4em;
    transition: 0.5s;
  }

  /* algemene navigatiebalk */
  header ul {
    display: flex;
    justify-content: flex-start;
    gap: 4em;
    font-size: 1em;
    transition: 1s;
  }

  /* gebruikersfoto */
  figure:nth-of-type(1) img {
    width: 6em;
    border-radius: 4em;
    transition: 0.5s;
  }


  /* gebruikersnaam */
  figcaption {
    top: 2.3em;
    right: 2em;
    position: absolute;
    transition: 0.5s;
  }

  /* Bibliotheek titel */
  .main-first-page h1:first-of-type {
    font-size: 4em;
    text-align: left;
    transition: 1s;
  }

  /* de positie van de boeken */
  .main-first-page section:nth-of-type(2) ul {
    display: flex;
    margin-top: 4em;
    justify-content: center;
    align-items: flex-start;
    transition: 0.5s;
  }

  .main-first-page section:nth-of-type(2) a:hover {
    transform: scale(1.2);
  }

  /* side menu */
  .side-menu {
    top: 35em;
    bottom: -20em;

    transition: 1s;

  }


  /* het formulier */
  form {
    margin: 3em 20em;
  }

  form fieldset:first-of-type {
    display: flex;
    flex-direction: row;

  }
}















/*******************************/
/*PAGINA 2 Details van het boek*/
/*******************************/


/* *************************************** */
/* ALGEMENE STIJLEN VOOR DE TWEEDE PAGINA */
/* ************************************** */
.main-second-page {
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.main-second-page ul,
.main-second-page li {
  display: flex;
  flex-wrap: wrap;
}

.main-second-page section {
  display: flex;
  margin: 4em 0;
  position: relative;
  flex-direction: column;
}



/*************/
/* SECTION 1 */
/**************/

/* ****************************************************************************************************************************** */
/* de eerste section Bestaat uit de boekenkaft met daarin specifieke informatie van het boek. Zoals de titel, auteur en boekenkaft */
/* ******************************************************************************************************************************* */
.main-second-page section:first-of-type {
  gap: 1em;
  margin: 0;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0.7em 1.1em 1.4em -0.7em rgba(0, 0, 0, 0.27);
}

/* Titel van het boek */
.main-second-page section:first-of-type h1 {
  width: 100%;
  padding: 0.5em;
  min-width: 13em;
  text-align: center;
  border-radius: 2em;
}

/* Link die naar de pagina  van het auteurs gaat */
.main-second-page section:first-of-type a {
  order: 0;
  text-align: center;
}

/* Het boekenkaft */
.main-second-page section:first-of-type img {
  order: 1;
  width: 100%;
  min-width: 3em;
  max-width: 18em;
  align-self: center;
  border-radius: 2em;
}







/*************/
/* SECTION 2 */
/**************/

/* ************************************************************************ */
/* Het statistieken van het boek zoals aantal mensen die het boek had gelezen*/
/* *********************************************************************** */
.main-second-page section:nth-of-type(2) ul {
  gap: 1em;
}

/* Het statistiek van het boek */
.main-second-page section:nth-of-type(2) li {
  gap: 1em;
  flex-grow: 1;
  padding: 0 .5em;
  align-items: center;
  flex-direction: row;
  border-right: 0.06em solid var(--line-gray-color);
}

.main-second-page section:nth-of-type(2) li:last-of-type {
  border: none;
}

.main-second-page section:nth-of-type(2) div {
  font-size: 0.8em;
  flex-direction: column;
}

.main-second-page section:nth-of-type(2) div span {
  font-weight: bold;
}














/*************/
/* SECTION 3 */
/**************/

/**********************************/
/* Het samenvatting van het boek */
/*********************************/

/* Stijlen van het toon samenvatting button */
.main-second-page section:nth-of-type(3) {
  margin-top: 0.5em;
}

/* Button om de samenvatting te tonen */
.main-second-page section:nth-of-type(3) button {
  padding: 1em;
  border: none;
  transition: 0.2s;
  font-size: 1.2em;
  margin-top: 0.5em;
  font-weight: bold;
  border-radius: 4em;
  text-align: center;
  color: var(--white-color);
  background-color: var(--button-color);
}

/* states voor de button */
.main-second-page section:nth-of-type(3) button:active,
.main-second-page section:nth-of-type(3) button:hover {
  transition: 0.2s;
  color: var(--button-color);
  background-color: var(--main-orange-pastel-color);
}

/* Titel van de article */
.main-second-page section:nth-of-type(3) article h1 {
  padding: 2em 0;
  font-size: 1.3em;

}

/* Het samenvatting  */
.main-second-page section:nth-of-type(3) article {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Het samenvatting  */
.main-second-page section:nth-of-type(3) article p {
  display: none;
  font-size: 18px;
  line-height: 1.8em;
  transition: 1s;
  color: #3f3f3f;
  text-align: left;
}

.main-second-page section:nth-of-type(3) article p::selection,
.main-second-page section:nth-of-type(3) article p span::selection {
  color: rgb(202, 202, 202);
  background-color: var(--button-color);
}

/* Spaties tussen de samenvatting */
.main-second-page section:nth-of-type(3) article p span {
  display: block;
  margin: 1.5em 0;
}

/* Met javascript wordt de samenvatting zichtbaar */
.main-second-page section:nth-of-type(3) article p.samenvatting-zichtbaar {
  display: block;
  transition: 1s;
}

/* Code voor het address */
.main-second-page article address {
  margin: .5em 0;
  font-size: 1.3em;
  font-weight: bold;
  color: var(--black-color);
  border-bottom: var(--black-color);
}

.main-second-page article address a {
  display: block;
  font-size: 0.9em;
  font-weight: normal;
  color: var(--black-color);
}






/**************/
/*SECTION 4  */
/************/

/************************/
/* De tags van het boek */
/***********************/
/* achtegrond van de tags  */
.main-second-page section:nth-of-type(4) ul {
  gap: 0.6em;
  flex-direction: row;
  justify-content: center;
}

/* De tags zijn links  */
.main-second-page section:nth-of-type(4) a {
  padding: 0.8em;
  border-radius: 2em;
  color: rgba(0, 0, 0, 0.959);
  background-color: rgb(245, 243, 243);
}





/**************/
/*SECTION 5  */
/************/

/*******************************************************/
/* Een link naar de hoofdstukken van het boek */
/******************************************************/

.main-second-page section:nth-of-type(5) ul {
  gap: 2em;
  flex-direction: column;
}

.main-second-page section:nth-of-type(5) li {
  border-radius: 1em;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1.7em 1.8em -0.3em rgba(0, 0, 0, 0.24);
}

.main-second-page section:nth-of-type(5) li:hover {
  box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.31);
  color: var(--main-orange-color);
}

/* Links  */
.main-second-page section:nth-of-type(5) a {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1.5em;
  font-size: 1em;
  font-weight: bold;
  color: #000000;
}

.main-second-page section:nth-of-type(5) a:hover,
.main-second-page section:nth-of-type(5) a:active {
  color: var(--main-orange-color);
}

.main-second-page section:nth-of-type(5) li:nth-of-type(2) a i:last-of-type {
  margin-left: .8em;
}

/* lichtgedrukt tekst */
.main-second-page section:nth-of-type(5) a p span {
  margin-left: .5em;
  font-weight: lighter;
}











/**************/
/*SECTION 6 */
/************/

/**********************/
/* De boek suggesties */
/**********************/

.main-second-page section:nth-of-type(6) h2 {
  padding: 1em 0;
  font-size: 1.8em;
}

.main-second-page section:nth-of-type(6) ul {
  gap: 2em;
  flex-flow: row;
  overflow-x: auto;
  max-width: 22em;
  justify-content: center;
}

.main-second-page section:nth-of-type(6) img {
  max-width: 7em;
}









/**************/
/*SECTION 7  */
/************/

/*******************************/
/* Button om het boek te lezen */
/*******************************/
section:nth-of-type(7) {
  bottom: 2em;
  position: sticky;
  position: -webkit-sticky;
}

section:nth-of-type(7) ul {
  gap: .5em;
  justify-content: center;
}

section:nth-of-type(7) li {
  background-color: black;
}

section:nth-of-type(7) li:first-of-type {
  border-radius: 7em 0 0 7em;
  -moz-border-radius: 7em 0 0 7em;
  -webkit-border-radius: 7em 0 0 7em;
}

section:nth-of-type(7) li:last-of-type {
  border-radius: 0 7em 7em 0;
  -moz-border-radius: 0 7em 7em 0;
  -webkit-border-radius: 0 7em 7em 0;
  /* https: //www.cssmatic.com/border-radius */
}

section:nth-of-type(7) a {
  gap: 1em;
  display: flex;
  color: white;
  padding: 1.2em;
  font-size: 1.3em;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
}

/* Icoon voor het button */
.gg-math-plus,
.gg-readme {
  width: 3em;
}

/*****************************/
/*  PAGINA 2 RESPONSIVE MAKEN*/
/*****************************/

@media (min-width:37em) {
  .main-second-page section:nth-of-type(3) article p {
    line-height: 2em;
    text-align: justify;
  }
}

@media (min-width:50em) {

  /*SECTION 1 */
  .main-second-page section:first-of-type {
    flex-direction: row;
  }

  .main-second-page section:first-of-type img {
    order: -1;
    align-self: flex-start;
  }

  /* titel van het boek */
  .main-second-page section:first-of-type h1 {
    font-size: 3.5em;
    transition: 0.5s;
    background: #FF500A;
    background: -webkit-linear-gradient(to top left, #FF500A 1%, #FFC773 50%, #FFDAB0 65%);
    background: -moz-linear-gradient(to top left, #FF500A 1%, #FFC773 50%, #FFDAB0 65%);
    background: linear-gradient(to top left, #FF500A 1%, #FFC773 50%, #FFDAB0 65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* naam van auteur */
  .main-second-page section:first-of-type a {
    top: 7em;
    right: 17em;
    font-size: 1.5em;
    position: absolute;
  }

  /* SECTION 2 */
  /* Statistieken */
  .main-second-page section:nth-of-type(2) ul {
    gap: 3em;
    z-index: 2;
    top: -10em;
    left: 40em;
    position: absolute;
  }

  /* SECTION 3 */
  /* titel van de article / samenvatting */
  .main-second-page section:nth-of-type(3) article h1 {
    padding: 0;
    padding-bottom: 0.2em;
    font-size: 2em;
    margin: 0 4.5em;
    transition: 0.5s;
  }

  /* Samenvatting van het boek */
  .main-second-page section:nth-of-type(3) article p {
    margin: 0 8em;
    line-height: 2em;
    transition: 0.5s;
    text-align: justify;
  }

  /* De translators van het boek */
  .main-second-page article address {
    margin: 0 7em;
  }

  .main-second-page section:nth-of-type(3) button {
    position: absolute;
    transform: translateY(-15em);
    transform: translateX(-3em);
    margin-right: 10em;
    align-self: flex-end;
    transition: 0.5s;
  }

  /* SECTION 5*/
  /* De link naar de hoofdstukken */
  .main-second-page section:nth-of-type(5) li {

    margin: 0 15em;

  }

  /* SECTION 6 */
  /* Boek suggesties */
  .main-second-page section:nth-of-type(6) h2 {
    margin: 0 4em;
    font-size: 2.5em;
  }

  .main-second-page section:nth-of-type(6) ul {
    gap: 2em;
    margin: 0;
    max-width: none;
    overflow-x: none;
    justify-content: center;
  }

  .main-second-page section:nth-of-type(6) img {
    max-width: 40em;
  }

  /* SECTION 7 */
  section:nth-of-type(7) {
    position: block;
    position: absolute;
    top: 2em;
    right: 25em;
    transform: translateY(20em);
  }
}


/**********/
/* FOOTER */
/**********/

/*************************************/
/* Algemene Stijen voor de footer  */
/*************************************/

footer {
  background-color: rgb(228, 228, 228);
  background-color: #eeeeee;
}

footer section li:hover,
footer section li:active {
  background-color: #c4c4c4;
}

footer section li {
  display: flex;
  padding: 0 1em;
  border-bottom: 1px solid #a7a7a7;
}

footer section a {
  display: block;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  color: black;
}

footer section ul {
  display: flex;
}


/* SECTION 1 */

/* ********************************************* */
/* Specifieke stijling voor elk section */
/* ********************************************* */
footer section:first-of-type ul {
  flex-flow: wrap column;
}

footer section:first-of-type li {
  align-items: center;
  justify-content: space-between;
}

/* De laatste li van de eerste section */
footer section:first-of-type li:last-of-type {
  align-self: center;
  padding-top: 1em;
}

/* Dit is voor de arrow iconen */
/* Bron:https://css.gg/arrow-right */
.gg-arrow-right {
  display: inline;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px
}

/* SECTION 2 */
/* Voorwaarden, privacy, hulp links */
footer section:last-of-type ul {
  justify-content: center;
  gap: .5em;
}

footer section:last-of-type li {
  padding: 1em;
}

footer section:last-of-type a {
  padding: 0;
  font-size: 0.8em;
}

/***************************/
/* Footer responsive maken */
/***************************/
@media (min-width:50em) {


  footer section:first-of-type ul {
    gap: 2em;
    padding: 0.5em;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  footer section:first-of-type li:last-of-type {
    padding: 0;
  }

  footer section:first-of-type li i {
    display: none;
  }

  footer section li {
    border-bottom: none;
  }
}